fastapi==0.115.11
uvicorn==0.34.0
starlette==0.46.1
SQLAlchemy==2.0.39
alembic==1.15.1
asyncpg==0.30.0
passlib==1.7.4
bcrypt==4.0.1
python-jose==3.4.0
pydantic==2.10.6
pydantic-settings==2.8.1
fastapi-mail==1.4.2
slowapi==0.1.9
cloudinary==1.43.0
libgravatar==1.0.4
python-dotenv==1.0.1
python-multipart==0.0.20
requests==2.32.3